body {
  margin: 0 auto;
  text-align: center;
}

.choice {
  
}
button {
  margin: 10px;
  font-size: 20px;
  width: 100px;
}
.player, .computer, .rounds {
  border: 2px solid;
  display: inline-block;
  margin-top: 10px;
  height: 100px;
  width: 150px;
  font-size: 20px;
  }

.player {
  float: left;
  margin-left: 300px;
}

.computer {
  float: right;
  margin-right: 300px;
}